astroid==3.0.3; python_full_version >= '3.8.0'
colorama==0.4.6; platform_system == 'Windows'
dill==0.3.8; python_version < '3.11'
isort==5.13.2; python_full_version >= '3.8.0'
mccabe==0.7.0; python_version >= '3.6'
platformdirs==4.2.0; python_version >= '3.8'
pylint==3.0.3; python_full_version >= '3.8.0'
tomli==2.0.1; python_version < '3.11'
tomlkit==0.12.3; python_version >= '3.7'
typing-extensions==4.9.0; python_version < '3.9'
click==8.1.7; python_version >= '3.7'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
pygments==2.17.2; python_version >= '3.7'
pyserial==3.5
rich==13.7.0; python_full_version >= '3.7.0'
